# Исключаем временные файлы, созданные Visual Studio
.vs/
bin/
obj/

# Исключаем файлы компиляции и исполняемые файлы
*.exe
*.dll
*.pdb

# Исключаем папки и файлы пакетного менеджера NuGet
packages/

# Исключаем файлы, созданные средой разработки Rider
.idea/

# Исключаем файлы, созданные средой разработки Visual Studio Code
.vscode/

# Исключаем файлы, созданные при сборке проекта
bin/
obj/

# Исключаем файлы резервных копий и прочие временные файлы
*~
*.swp

# Исключаем файлы конфигурации среды разработки
*.suo
*.user
*.sln.docstates

# Исключаем файлы логов и отладочной информации
*.log
*.logs
*.cache
*.vspscc
*.vssscc
